.mens {
    background-color: #252A2E;
    color: #fff;
    padding: 50px 20px;
  }
  
  .mens .contenido-seccion {
    max-width: 1100px;
    margin: auto;
  }
  
  .mens h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
  }
  
  .mens .body {
    margin: 0;
    padding: 0;
  }
  
  .mens .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    padding: 10px;
  }
  
  @media (min-width: 768px) {
    .mens .grid-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  /* ... Código anterior ... */

/* Efecto de zoom */
.mens .grid-item {
    overflow: hidden;
  }
  
  .mens .grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
  }
  
  .mens .grid-item:hover img {
    transform: scale(1.1);
  }
  
  /* Overlay styles */
  .mens .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9999; /* Asegura que el overlay esté encima de todo */
  }
  
  .mens .overlay-img {
    max-height: 90vh;
    max-width: 90vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1); /* Aplica el zoom */
    transition: transform 0.3s;
  }
  
  .mens .overlay-img:hover {
    transform: translate(-50%, -50%) scale(1.1); /* Efecto de zoom en el overlay */
  }
  
  /* ... Código posterior ... */
  
  
  .mens .close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    color: white;
    cursor: pointer;
  }
  
  .mens .nav-btn {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    font-size: 30px;
    color: white;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    transition: opacity 0.3s;
  }
  
  .mens .prev-btn {
    left: 30px;
  }
  
  .mens .next-btn {
    right: 30px;
  }
  
  .mens .nav-btn:hover {
    opacity: 0.8;
  }
  